include includes/head.pug
include includes/navigation.pug
include includes/container.pug

  h1 orders
  .order-container
    if orders.length > 0
      each order in orders
        .nested-order-container
          .title-container
            p.cart-title invoice number: #{order.id}
          each product in order.Products
            .order-card
              p.order-title-product #{product.title}
              p #{product.description}
              p Quantity: #{product.OrderItem.qty}        
              p Total: #{product.price * product.OrderItem.qty}
            .order-image
              img(src=`/${product.imageUrl}` height="150px" width="150px ")
    else 
      p no orders!
